<ion-card>
    <ion-card-content>
        <ion-row>
            <ion-col><b>From: {{recipient}}</b></ion-col>
        </ion-row>
        <ion-row>
            <ion-col><b>To: {{receiver}}</b></ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h1>{{subject}}</h1>
            </ion-col>
        </ion-row>
        <ion-img src="{{image}}"></ion-img>
        <p>{{message}}
        <p>
            <ion-button routerLink='/write/{{send}}'>Reply</ion-button>
            <ion-button (click)='deleteMail()' color="danger" routerLink="/list">Delete</ion-button>
            <ion-button *ngIf="!userFav" color="danger" expand="block" (click)='addFavorite()'>Favorite</ion-button>
            <ion-button *ngIf="userFav" color="success" expand="block" (click)='removeFavorite()'>Favorite</ion-button>
    </ion-card-content>
</ion-card>