<ion-card>
  <ion-card-content>
    <ion-card-title style="text-align: center;">Profile</ion-card-title><br>
    <ion-list>
      <ion-item>
        <ion-label>First Name</ion-label>
        <p color=primary>{{firstName}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Last Name</ion-label>
        <p color=primary>{{lastName}}</p>
      </ion-item>
      <ion-item>
        <ion-label>E-mail</ion-label>
        <p color=primary>{{email}}</p>
      </ion-item>
    </ion-list>  
  </ion-card-content>  
</ion-card>